<style>
    .maincontainer{
        width:100vw;
        height:100vh;
        background-color: gainsboro;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        font-family:Consolas;
    }
    .box{
        width:40%;
        height: auto;
        background-color:white;
        border-radius: 10px;
        padding:5px;
    }
</style>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="maincontainer">
            <div class="box">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12" style="background-color: aliceblue;display: flex;justify-content: center;">
                            <img src="/images/livechat.png" width="60px" >
                            <div style="margin-left:10px;margin-top:12px;font-size:22;font-weight:600;">Welcome to Live Chat App</div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12" style="display:flex;justify-content: center;font-size:22;font-weight: 600;background-color: blanchedalmond;">
                            Join Room
                        </div>
                    </div>
                    
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">
                            <form action="/livechat/chatinterface" method="post">
                            <input type="text" id="sname" name="sname" placeholder="Enter Your Name" required style="border:2px solid black;" class="form-control" autocomplete="off">
                            <div style="display: flex;justify-content: center;"><input type="submit" value="Join Room" class="btn btn-danger" style="margin-top:20px;width:200px;margin-bottom:70px;" ></div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>